<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Fotografi</title>

</head>
<body style="background-color:#ccffff">
	<h2 align="center">Ecco tutti i fotografi: </h2>
	<div align="center">
		<span th:if="${fotografi.empty}" >ancora nessun fotografo caricato</span>
		<table>
			<tr th:each="fotografo : ${fotografi}">
				<td><a
				th:href="@{'/fotografo' + '/' + ${fotografo.id}}"
				th:text="${fotografo.firstName} + ' ' + ${fotografo.lastName}">Filippo
					Contaldi</a></td>
			</tr>
		</table>
	</div>
	<br/>
	<br/>
	<div align="center">
		<div><a th:if="${role} == 'ADMIN'" th:href="@{/admin}">Vai all'amministrazione</a></div>
		<div><a th:if="${role} == 'ADMIN'" href="/addPhotographer">Registra un nuovo fotografo</a></div>
		<div><a href="/welcome">Home</a></div>
		<div><h5><a href="/logout">Logout</a></h5></div>
	</div>
</body>
</html>