<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    
</head>
<body style="background-color:#ccffff">
<h1 align="center">Bentornato, <span th:utext="${username}"></span>!</h1>

<h3 th:if="${role} == 'ADMIN'" align="center">
    <a href="/admin">Vai alla pagina di amministrazione</a>
</h3>

<h3 align="center">
    <a href="/gallery" >Visita la galleria</a>
</h3>
<h3 align="center">
	<a th:href="@{/fotografi}">Vai alla lista fotografi</a>
</h3>

<h5 align="center"><a href="/logout">Logout</a></h5>

</body>
</html>